* {
  font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}
body {
  text-align: center;
  min-height: 100vh;
  background-color: #3b3f45;
  border: 30px solid white;
}
.header {
  padding: 30px;
  background-color: #4a4f56;
  margin-bottom: 30px;
}
header * {
  color: #eb7e7f;
}
h1 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}

form {
  max-width: 50%;
  margin: auto;
}

.main {
  text-align: left;
}

[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: #9ca0b5;
}

div {
  color: white;
  cursor: pointer;
}
div:nth-of-type(odd) {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background-color: #88839e;
}
div:nth-of-type(even) {
    border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background-color: #7a7593;
}
input,
label {
  vertical-align: middle;
  cursor: pointer;
}

input {
  zoom: 2;
}
label {
  padding: 15px;
  display: block;  
}
span {
  vertical-align: middle;
}
.main_span {
    font-size: 30px;
}
 
.sec_span {
  font-size: 16px;
}
.shoping_list {
  list-style-type: none;
}

.last_div {
  margin-bottom: 30px;
}

.buttom {
  color: #eb7e7f;
  background-color: #4a4f56;
  border: 0;
  outline: none;
  width: 100%;
  height: 70px;
  cursor: pointer;
}

div:hover {
  background-color: #625e77;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

}
div:active {
  background-color: #d8827b;
}
.buttom:hover {
  background-color: grey;
  opacity: 1;
}

.buttom:active {
  opacity: 0.6;
}
