* {
    font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
}
body {
    text-align: center;
    min-height: 100vh;
    background-color: #3B3F45;
    border: 30px solid white
}
.header {
    padding: 30px;
    background-color: #4A4F56;
}
header * {
    color: #EB7E7F;
    padding: 5px;
}
h1 {  
    font-size: 36px;
}
h4 {
    font-size: 24px;

}

.main {
    text-align: left;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    
}

[type="checkbox"]:checked + label { 
    text-decoration: line-through;
    color: #9CA0B5; 
}


main * {
    font-size: 30px;
    color: white;
    padding: 25px;
}
div:nth-of-type(odd) {
    background-color: #88839E;
}
div:nth-of-type(even) {
    background-color: #7A7593;
}
input {
    zoom: 2;
}
span  {
    padding: 3px;
    font-size: 16px;
}
.shoping_list {
    list-style-type: none;
}
.buttom {
    color: #EB7E7F;
    background-color: #4A4F56;
    border: 0;
    outline: none;
    margin-top: 5%;
    width: 100%;
}



div:hover {
    background-color: #625E77;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
div:active {
    background-color: #D8827B;
}
.buttom:hover {
    background-color: grey;
    opacity: 1;
 }

 .buttom:active {
     opacity: 0.6;
 }