:root {
  --small-width: 25%;
  --large-width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}
body, html {
  font-size: 100%;
  height: 100%;
}

body {
  background-color: #3399CC;
  border: 25px solid #2B81AC;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
}
.weather__forecast {
  padding-top: 10%;
  margin: 0 auto;
  width: 50%;

}
.weather__table {
  border: 5px solid white;
  font-size: 0;
  width: 100%;
  list-style: none;
  background-color: white;
  
}
li {
  font-size: 26px;
  display: inline-block;
  text-align: center;
  border: 5px solid white ;
  padding: 25px;
  
}
.weather__table__case-lisbon,
.weather__table__case-sanfrancisco {
  width: var(--large-width);

}

.weather__table__case-paris, 
.weather__table__case-belgrade,
.weather__table__case-moscow, 
.weather__table__case-telaviv, 
.weather__table__case-cair, 
.weather__table__case-newyork,
.weather__table__case-newdelphi,
.weather__table__case-tokyo {
  width: var(--small-width);
}

.weather__table__case-sydney {
  width: 100%;
}

.weather__table__case-lisbon {
  background-color: #3399CC;
}

.weather__table__case-paris {
  background-color: #33CCCC;
}
.weather__table__case-belgrade {
background-color: #996699;
}
.weather__table__case-moscow {
background-color: #C24747;
}
.weather__table__case-telaviv {
background-color: #E2674A;
}
.weather__table__case-cair {
background-color: #FFCC66;
}
.weather__table__case-newyork {
background-color: #99CC99;
}
.weather__table__case-newdelphi {
background-color: #669999;
}
.weather__table__case-sanfrancisco {
background-color: #CC6699;
}
.weather__table__case-tokyo {
background-color: #339966;
}
.weather__table__case-sydney {
background-color: #666699;
}

ul:hover li {
  
  opacity: 0.6;
}
ul li:hover {
  opacity: 1;
}

p {
  font-size: 26px;
  margin: 0 auto;
  width: 50%;
}